trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  azureSubscription: 'your-azure-subscription'
  webAppName: 'securechannelx-app'
  resourceGroupName: 'securechannelx-rg'

stages:
  - stage: Build
    jobs:
      - job: BuildBackend
        steps:
          - task: NodeTool@0
            inputs:
              versionSpec: '18.x'
          - script: |
              cd backend
              npm install
              npm run build
            displayName: 'Build Backend'
          
      - job: BuildFrontend
        steps:
          - task: NodeTool@0
            inputs:
              versionSpec: '18.x'
          - script: |
              cd frontend
              npm install
              npm run build
            displayName: 'Build Frontend'

  - stage: Deploy
    dependsOn: Build
    jobs:
      - job: DeployToAzure
        steps:
          - task: AzureWebApp@1
            inputs:
              azureSubscription: $(azureSubscription)
              appName: $(webAppName)
              package: '$(System.DefaultWorkingDirectory)/**/*.zip'